root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
max_line_length = 120

[{Context.sublime-menu,JsPrettier.sublime-commands,JsPrettier.sublime-settings}]
indent_style = tab

[*.{json,yml}]
indent_size = 2

[.markdownlintrc]
indent_size = 2

[*.cmd]
end_of_line = crlf

[appveyor.yml]
end_of_line = crlf

[*.{md,txt}]
trim_trailing_whitespace = false
