* text=auto

*.md          text
.env          text
.env.example  text

*.cmd         text  eol=crlf

*.gif         binary

# Tell Package Control to ignore packaging these files tagged w/ "export-ignore"
# See: math2001/FileManager#41 (comment) https://github.com/math2001/FileManager/pull/41#issuecomment-554541489
.github/                  export-ignore
screenshots/              export-ignore
tests/                    export-ignore
.gitattributes            export-ignore
