[MASTER]
ignore=.cache,.git,.idea,__pycache__,messages,screenshots

[MESSAGES CONTROL]
disable=missing-docstring,too-many-branches,too-many-public-methods,unidiomatic-typecheck,len-as-condition,too-many-return-statements,too-many-statements,fixme,too-many-locals,too-many-arguments,invalid-name,inconsistent-return-statements,too-many-lines,relative-beyond-top-level,too-many-nested-blocks

[FORMAT]
max-line-length=120
expected-line-ending-format=LF

[TYPECHECK]
ignored-modules=sublime,sublime_plugin
