name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Node.js NPM global dependencies
        run: npm install -g markdownlint-cli

      - name: Run flake8
        run: flake8 . --count --show-source --statistics

      - name: Run pylint
        run: pylint .

      - name: Run markdownlint
        run: markdownlint .

      - name: Run pytest
        run: pytest
